<mj-section background-color="#4B6AF8">
  <mj-column>
    <mj-text mj-class="emoji">
     🔔
    </mj-text>
    <mj-text mj-class="text-presentation">
      New notification
    </mj-text>
  </mj-column>
</mj-section>
<mj-section mj-class="message-container">
  <mj-column>
    <mj-text mj-class="text">
      Hi <span style="font-weight:bold"><%= @target.first_name %></span>!<br><br>
    </mj-text>
    <mj-text mj-class="text">
      <a href="<%= Rails.configuration.frontend_url %>/user/<%= @author.id %>" style="color:#4B6AF8!important"><%= @author.first_name + " " + @author.last_name %></a>
       posted a <a href="<%= Rails.configuration.frontend_url %>/need/<%= @object.id %>" style="color:#4B6AF8!important">new need</a> on a <a href="<%= Rails.configuration.frontend_url %>/project/<%= @object.project.id %>" style="color:#4B6AF8!important">project</a> you are following.
    </mj-text>
    <mj-button
      mj-class="button"
      href="<%= Rails.configuration.frontend_url %>/need/<%= @object.id %>">
      <span style="padding-left:20px; padding-right:20px">Check it out!</span>
    </mj-button>
  </mj-column>
</mj-section>

