<mj-section background-color="#4B6AF8">
  <mj-column>
    <mj-text mj-class="emoji">
      🎟
    </mj-text>
    <mj-text mj-class="text-presentation">
      You have </br> been invited
    </mj-text>
  </mj-column>
</mj-section>
<mj-section mj-class="message-container">
  <mj-column>
    <mj-text mj-class="text">
      Hi <span style="font-weight:bold"><%= @joiner.first_name %></span>!<br><br>
    </mj-text>
    <mj-text mj-class="text">
        <a href="<%= Rails.configuration.frontend_url %>/user/<%= @owner.id %>" style="color:#4B6AF8!important"><%= @owner.first_name + " " + @owner.last_name %>
        </a> has invited you to join the <%= @from_object %>: <%= @object.title %>.
    </mj-text>
    <mj-button
      mj-class="button"
      href="<%= Rails.configuration.frontend_url %>/<%= @object.class.name.downcase %>/<%= @object.id %>">
      <span style="padding-left:20px; padding-right:20px">Join now!</span>
    </mj-button>
  </mj-column>
</mj-section>

